@import "colors";
@import "fonts";
@import "vars";

.wrapper {
  min-height: calc(81.2vh - 112px);
  background-color: $selective-yellow;

  .container {
    padding-top: 82px;

    .content {
      width: 47.8%;

      h1 {
        @include fonts(68px, 400, $font-anton, $black, 130%, uppercase);

        width: 78.8%;
        padding-top: 100px;
        transform: translateX(-75px);
      }

      h3 {
        @include fonts(18px, 400, $font-ubuntu, $black, 160%, none);

        margin: 34px 0 0 0;
      }

      button {
        padding: 22px 40px;
        margin: 64px 0 65px 0;
        background-color: $white;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
        border-radius: 16px;
        font-size: 18px;
      }
    }

    .image-container {
      width: 43vw;
      right: 0;
      top: 80px;

      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .wrapper {
    .container {
      padding: 0 0 0 26px;
      min-height: calc(100vh - 122px);
      overflow-x: hidden;

      .image-container {
        position: relative;
        width: 100%;
        margin: 48px 0 0 0;
        top: auto;
      }

      .content {
        transform: translateX(0);
        width: 100%;
        margin: 44px 0 0 14px;

        .learn-more-btn {
          @include fonts(14px, 500, $font-ubuntu, $black, 16px, none);

          text-align: center;
          margin: 0;
        }

        h1 {
          @include fonts(42px, 400, $font-anton, $black, 130%, uppercase);

          transform: translateX(0);
          padding: 0;
          width: 76%;
        }

        h3 {
          @include fonts(14px, 400, $font-ubuntu, $black, 160%, none);

          margin: 24px 48px 26px 0;
          width: 80%;
        }
      }
    }
  }
} ;
