<div class="wrapper d-flex flex-row justify-center relative">
  <div class="container">
    <div class="content">
      <h1>Never Caught Off-Guard Again</h1>

      <h3>
        We are specialist in protecting your assets and reputation to make sure
        you operate risk-free and focus on your core business.
      </h3>

      <button class="learn-more-btn pointer">Learn More</button>
	  
    </div>
    <div class="image-container absolute">
		<img src="/assets/images/space-helmet.svg" alt="#" />
	  </div>
  </div>
</div>
