@import "colors";
@import "fonts";

.wrapper {
  min-height: calc(81.2vh - 110px);
  background-color: $selective-yellow;

  .container {
    padding-top: 82px;

    .content {
      width: 47.8%;

      h1 {
        @include anton-font-400;

        width: 78.8%;
        padding-top: 100px;
        color: $black;
        font-size: 68px;
        line-height: 130%;
        text-transform: uppercase;
        transform: translateX(-75px);
      }

      h3 {
        @include ubuntu-font-400;
        color: $black;
        font-size: 18px;
        line-height: 160%;
        margin: 34px 0 0 0;
      }

      button {
        padding: 22px 40px;
        margin-top: 64px;
        background-color: $white;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
        border-radius: 16px;
        font-size: 18px;
      }
    }

    .image-container {
      width: 43vw;
      right: 0;

      img {
        width: 100%;
      }
    }
  }
}
