<div class="wrapper d-flex flex-row justify-center">
  <div class="container d-flex flex-row space-between">
    <div class="main-info d-flex flex-column">
      <h1>
        never caught <br />
        off-guard again
      </h1>
      <h3>
        We are specialist in protecting your assets and reputation to make
        <br />
        sure you operate risk-free and focus on your core business.
      </h3>
      <a href="#"> Learn More </a>
      <button class="scroll-down-btn">
        <img
          src="/assets/images/main-content/Scroll-down.svg"
          alt="#"
        />
      </button>
    </div>
    <img
      class="learn-more-img"
      src="/assets/images/main-content/space-helmet.png"
      alt="#"
    />
  </div>
</div>
