@import "colors";
@import "fonts";
@import "inputs";

.wrapper {
  .container {
    .contact-us {
      margin: 86px 0 32px 0;
      width: 18.8%;

      p {
        @include fonts(
          50px,
          400,
          $font-anton,
          $selective-yellow,
          76px,
          uppercase
        );
      }

      span {
        color: $black;
      }
    }

    form {
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
      border-radius: 30px;
      margin-bottom: 64px;

      .contacts-info-containter {
        width: 43.8%;
        padding: 48px 0 0 60px;

        .contacts-info-btn {
          width: 33.4%;
          background-color: $selective-yellow;
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
          border-radius: 16px;
          margin-bottom: 72px;

          button {
            @include fonts(16px, 500, $font-ubuntu, $black, 18px, none);

            padding: 22px 32px;
          }
        }
      }
    }
  }
}
