<div class="wrapper d-flex flex-row justify-center">
  <div class="d-flex flex-row align-center space-between container">
    <div class="logo d-flex">
      <a href="#">
        <img src="~/../assets/images/header/safeguard.svg" alt="#" />
      </a>
    </div>
    <div class="navbar-list d-flex flex-row space-between align-center">
      <li><a href="#">home</a></li>
      <li><a href="#">about us</a></li>
      <li><a href="#">what we do</a></li>
      <li><a class="active" href="#">contact us</a></li>
    </div>
  </div>
</div>
