@import "colors";
@import "fonts";
@import "inputs";
@import "vars";

.contacts-info {
  margin-bottom: 50px;

  .info {
    @include fonts(12px, 400, "Ubuntu", $dusty-gray, 14px, none);

    margin-bottom: 6px;
  }

  .info-input {
    border-bottom: 1px solid $black;
    font-size: 18px;
    margin-bottom: 4px;
    padding-bottom: 8px;

    &:focus {
      &::placeholder {
        visibility: hidden;
      }
    }
  }

  .write-us-messages {
    @include fonts(18px, 400, "Ubuntu", $black, normal, none);

    margin-bottom: 4px;
    height: 140px;
    border-bottom: 1px solid $black;
  }

  .error-message {
    @include fonts(12px, 400, "Ubuntu", $pomegranate, 14px, none);
  }

  .errorInput {
    border-bottom: 2px solid $pomegranate;
  }

  &.error {
    .info {
      color: $pomegranate;
    }

    .info-input,
    .write-us-messages {
      border-bottom: 2px solid $pomegranate;
    }
  }
}
