@import "./assets/styles/overrides/reset.scss";
@import "./assets/styles/mixins/fonts.scss";
@import "./assets/styles/flex.scss";
@import "./assets/styles/helper-classes.scss";
@import "./assets/styles/keyframes.scss";
@import "colors";

body {
  font-family: "Ubuntu";

  &.menu-open {
    overflow-y: hidden;
  }

  a {
    text-decoration: none;
    color: $black;
  }

  li {
    list-style-type: none;
  }

  button {
    background: none;
    border: 0 none;
    padding: 0;
    margin: 0;
  }

  input,
  textarea {
    border: 0 none;
    outline: none;
    resize: none;
    padding-left: 0;
  }
}
