@import "colors";
@import "fonts";
@import "inputs";
@import "vars";

.scroll-top {
  position: fixed;
  right: 12vw;
  bottom: 6vw;
  height: 50px;
  width: 50px;
  background: $black;
  border-radius: 50%;
  transform: scale(0);
  transition: $low-time;

  &.active {
    transition: $low-time;
    transform: scale(1);
  }

  &:hover {
    img {
      animation: slideUp 1s linear infinite;
    }
  }

  img {
    width: 28px;
  }
}

@media screen and (max-width: $mobile) {
  .scroll-top {
    height: 40px;
    width: 40px;
  }
}
